.menu-close-button:hover {
  color: #fff;
  text-decoration: none;
  background: #FFF ;
  border: solid 3px #283c5f;
}

.card {
  margin: 50px 0;
  margin-bottom: 100px;
  width: 18rem;
  color:#283c5f;
}

.cards {
  padding: 120px 0;
}

.card-links .card a {
  background: #fff;
  color: #4162f4;
  text-align: center;
  display: flex;
  font-size: 16px;
  border-radius: 10%;
}

.card-links .card:hover {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  transform: scale(1.1);
  border: none;
  color: #FFF;
  text-decoration-line: none;
}