.profile .card-title {
  border-bottom: 2px solid #4162f4;
  color: #4162f4;
}

.profile .card {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  color:#283c5f;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}
.profile .profile-icon {
  border: 8px solid #fff;
  border-radius: 50%;
  top: 50px;
  left: calc(50% - 67px);
  position: absolute;
}

.profile header {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  height: 150px;
  width: 100%;
  position: relative;
  border-bottom:32px solid #fff;
}

.profile .cards {
    padding: 50px 10px;
}